body{
  background: url(https://images.unsplash.com/photo-1598528132593-d8caf8baf450?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d2FsbCUyMGJhY2tncm91bmQlMjB3aGl0ZSUyMGZ1bGwlMjBzaXplfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  background: green;
  border: orange;
  border-width: 5px;
  border-style: dashed;
}

p{
  color: yellow;
}

span{
  background: blue;
  color: black;
}
