h1{
  font-family: cursive;
}
p{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-style: italic;
}
#two{
  font-family: 'Dancing Script', cursive;
  font-family: 'Splash', cursive;
}
